[Unit]
Description=Archipel File Carrier
Requires=udisks2.service
Requires=archipel-core.service

[Service]
Type=simple
User=archipel
Group=archipel
ExecStart=/usr/bin/archipelfc-daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target