[Unit]
Description=Archipel File Carrier
Requires=udisks2.service
Requires=archipel-core.service

[Service]
Type=simple

ExecStart=/usr/share/archipel-fc/archipel-fcd
Restart=on-failure

[Install]
WantedBy=multi-user.target