[Unit]
Description=Archipel File Carrier
Requires=udisks2.service
Requires=archipel-core.service

[Service]
Type=simple

RuntimeDirectory=archipel-core
ExecStart=/usr/share/archipel-fcd "${RUNTIME_DIRECTORY}/archipel-core.socket"
Restart=on-failure

[Install]
WantedBy=default.target