[Unit]
Description=Archipel File Carrier
Requires=archipel-core.service

[Service]
Type=simple

ExecStart=/usr/share/archipel-fc/archipel-fcd "/run/user/%U/archipel-core/archipel-core.socket"
Restart=on-failure

[Install]
WantedBy=default.target